<mat-sidenav-container class="container">
    <mat-sidenav-content>
        <mat-toolbar color="primary" *ngIf="!mobileQuery.matches">
            <div class="toolbar-spacer"></div>
            <button mat-icon-button aria-label="" routerLink="/calendar/new">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button aria-label="" routerLink="">
                <mat-icon>notifications</mat-icon>
            </button>
        </mat-toolbar>
        <mat-toolbar color="primary" *ngIf="mobileQuery.matches">
            <span>30 Days</span>
            <div class="toolbar-spacer"></div>
            <button mat-icon-button aria-label="" routerLink="">
                <mat-icon>notifications</mat-icon>
            </button>
        </mat-toolbar>
        <div class="calendar">
            <app-cal-calendar (selected)="selectedDate($event)"></app-cal-calendar>
            <app-cal-list [selectedDate]="isSelected" [data]="eventList"></app-cal-list>
        </div>
    </mat-sidenav-content>
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" class="detail"
        [class.detail-is-mobile]="mobileQuery.matches" [opened]="sidebarIsOpen" position="end" disableClose="true">
        <router-outlet (activate)="openSidebar()" (deactivate)="closeSidebar()"></router-outlet>
    </mat-sidenav>
</mat-sidenav-container>