.container {
    height: 100%;
}

.detail {
    min-width: 250px;
}

.detail-is-mobile {
    width: 100%;
}

.calendar {
    margin: 5px;
}

.cal-list {
    width: auto;
    margin-top: 5px;
}

.cal-list-item {
    background-color: #ffffff;
    height: 50px;
    margin-bottom: 5px;
    padding: 5px;
}
