<mat-toolbar color="primary" *ngIf="!mobileQuery.matches">
    <span>
        30 Days
    </span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button aria-label="" >
        <mat-icon>add_circle_outline</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="home-container" autosize>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
        class="sindenav" [class.sidenav-is-mobile]="mobileQuery.matches">
        <mat-toolbar *ngIf="mobileQuery.matches">
            <button mat-icon-button aria-label="Close Menu Button" (click)="sidenav.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="">Calendar</a>
            <a mat-list-item routerLink="/me">Me</a>
            <button mat-flat-button color="accent" (click)="logout()">
                Logout
            </button>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav #sideDetail [mode]="mobileQuery.matches ? 'over' : 'side'"
        [class.detail-is-mobile]="mobileQuery.matches" position="end" opened="true">
        <app-calendar-detail></app-calendar-detail>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <mat-toolbar *ngIf="mobileQuery.matches" class="toolbar-bottom">
            <button mat-icon-button aria-label="" routerLink="" >
                <mat-icon>today</mat-icon>
            </button>
            <button mat-icon-button aria-label="" >
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button aria-label="" routerLink="/me">
                <mat-icon>account_circle</mat-icon>
            </button>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>