.cal-list {
    padding-top: 5px;
    display: grid;
    grid-template-columns: minmax(20px, 50px) auto;
    gap: 5px;
}

.cal-list-item-date {
    padding: 5px;
    text-align: center;
}

.cal-list-item-content {
    padding: 5px 0 5px 10px;
    background-color: #ffffff;
}
