<cdk-virtual-scroll-viewport itemSize="50" [ngStyle]="{'height.px': availH}">
    <div class="cal-list" *cdkVirtualFor="let item of stringAppEvents; index as i">
        <div class="cal-list-item-date">
            <span *ngIf="showDate(i)">
                {{item.startday}}.{{item.startmonth}}
            </span>
        </div>
        <div class="cal-list-item-content" (click)="openDetails(item.id)">
            <strong>{{item.title}}</strong><br>
            {{item.starttime}} - {{item.endtime}} Uhr<br>
            {{item.place}}
        </div>
    </div>
</cdk-virtual-scroll-viewport>